@charset "utf-8";

/* diapocontainer */
#diapoContainer{
    position:absolute;
    width:100%;
    background:#222;
    height:100%;
    /*overflow: hidden;*/
    overflow: auto;
    top:5px;
    margin-left:15px;
}
/*
.imgDC{
    border-bottom:#000 2px solid;
    position:absolute;
    filter:alpha(opacity=90);
    border-left:#000 2px solid;
    visibility:hidden;
    border-top:#000 2px solid;
    cursor:pointer;
    border-right:#000 2px solid;
    opacity:0.9
}
.spaDC{
    position:absolute;
    filter:alpha(opacity=20);
    background:#000;
    visibility:hidden;
    opacity:0.2
}
*/
.imgsrc{
    margin:6px;
    min-height: 100%;
    max-width: 100%;
    /*visibility:hidden*/
}
.imgsrcbig{
    margin:4px;
    min-height: 100%;
    max-width: 100%;
    /*visibility:hidden*/
}
/*
#bkgcaption{
    position:absolute;
    width:100%;
    bottom:0px;
    background:#1a1a1a;
    height:6%;
    left:0px
}
#caption{
    position:absolute;
    text-align:center;
    width:100%;
    bottom:0px;
    font-family:arial, helvetica, verdana, sans-serif;
    white-space:nowrap;
    color:#fff;
    left:-10000px
}
*/